<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
<br>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <form role="form" method="POST" th:action="@{/registUser}" th:object="${user}">

                <label for="username">用户名：</label><input type="text" class="form-control" id="username"
                                                         th:field="*{name}" autocomplete="off"/><br>

                <label for="password">请设置您的密码:</label><input type="password" class="form-control" id="password"
                                                             th:field="*{password}" autocomplete="off"/><br>

                <label for="IDnumber">请输入您的身份号：</label><input type="text" class="form-control" id="IDnumber"
                                                             th:field="*{IDnumber}" autocomplete="off"/><br>

                <button type="submit" class="btn btn-default">点击注册！</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>