<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>版权查询</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <br>
            <form role="form" method="GET" th:action="@{/queryRightByName}" th:object="${right}">

                <label for="name">作品名称：</label><input type="text" class="form-control" id="name"
                                                   th:field="*{name}" autocomplete="off"/><br>
                <label for="author">作品作者：</label><input type="text" class="form-control" id="author"
                                                     th:field="*{author}" autocomplete="off"/><br>
                <label for="press">出版机构：</label><input type="text" class="form-control" id="press"
                                                      th:field="*{press}" placeholder="center" /><br>

                <label >你的用户名:</label><input type="text" class="form-control"  name="username"
            th:placeholder="${username}" th:value="${username}" readonly /><br>
                <button type="submit" class="btn btn-default">点击查询 !</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>